VITE_DDS_AUTH_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=AIzaSyDzBC4GLKXN3_lyh91B0NY4FcHH6x_hIEw
VITE_FIREBASE_AUTH_DOMAIN=otp-site-80c03.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=otp-site-80c03
VITE_FIREBASE_STORAGE_BUCKET=otp-site-80c03.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=419034737047
VITE_FIREBASE_APP_ID=1:419034737047:web:136ccc97ec4d1275c8bcd2
VITE_FIREBASE_MEASUREMENT_ID=G-Y944D6CF9C
